.footer {
    margin-top: 50px;
    padding: 20px;
    padding-left: 20px;
    color: white;
    background-color: black;
    border-top: 5px solid var(--green);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 20px;

    > a {
        text-decoration: none;
        color: var(--green);
    }
}